@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');


  :root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2 : 'passion one', cursive;
    --fonte3 : 'Sriracha' , cursive;
  }

  *{
    margin: 0;
    padding: 0;
  }
   html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
   }


  header{
    font-family: var(--fonte2);
    color: #fff;
    background-color: black;
   
    text-align: center;
   padding: 50px;
   padding-top: 20px;
  }

  header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
  }


  header a, footer a{
    color: #fff;
    text-decoration-line: none;
    font-weight: bold;
  }
  a:hover{
    text-decoration: underline;
  }

   section{
    font-family: var(--fonte3);
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-weight: bold;
    font-size: 3.5vw;
   }

  section.normal{
    background-color: #fff;
    color: black;
    
  }
  section > p{
  padding-bottom: 20px;
  
  }
  section.imagem{
    background-color: rgb(115, 65, 65);
    color: white;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.502);
   background-attachment: fixed;
}

section#img01{
  background-image: url('imagens/background001.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
 background-position: bottom right;  
 
}
section#img02{
  background-image: url('imagens/background002.jpg');
  background-size: cover;
}
 section.imagem >  p{
   display: inline-block;
   padding: 5px;
    background-color: transparent;
    text-shadow: 1px 1px 0px black ;
    
    
   
 }
  footer{
    background-color: black;
    text-align: center;
    color: #fff;
    padding: 10px;
  }
