
@media screen and (min-width:768px) {
   
    
    menu{
        display: block;
    }
    
    
    span#burguer{
        display: none;
    }
   menu li{
    display: inline-block;
   
   }
   menu#itens{
 
   width: 400px;
   }
   main{
    width: 768px;
   }
}